/*
Classes
*/
.darkblue{
    --text: #BEBEEB;
    --other-text: #B1B1FA;
    --accent: #7575BE;
    --hover: #9A9AD1;
    --button-text: var(--text);
    --button: #323241;
    --bg: #0F0F19;
    --menu_space: #1E1E37;
}
.darkred{
    --text: #EBBEBE;
    --other-text: #FAB1B1;
    --accent: #BE7575;
    --hover: #D19A9A;
    --button-text: var(--text);
    --button: #413232;
    --bg: #190F0F;
    --menu_space: #371E1E;
}
.darkgreen{
    --text: #BEEBBE;
    --other-text: #B1FAB1;
    --accent: #75BE75;
    --hover: #9AD19A;
    --button-text: var(--text);
    --button: #324132;
    --bg: #0F190F;
    --menu_space: #1E371E;
}
.lavender{
    --text: #6969AA;
    --other-text:#7B7BBB;
    --accent: #7575BE;
    --hover: #BE98DC;
    --button-text: #D6D6F9;
    --button: #7575BE;
    --bg: #C2C2E5;
    --menu_space: #A6B3EF;
}
.pink{
    --text: #AA6969;
    --other-text: #D18686;
    --accent: #FA9A9A;
    --hover: #F0BE98;
    --button-text: #F9D6D6;
    --button: #FA9A9A;
    --bg: #F9D6D6;
    --menu_space: #F0BAC4;
}
.mocha{
    --text: #69AA69;
    --other-text: #53BB8A;
    --accent: #D6F9D6;
    --hover: #98F0BE;
    --button-text: #D6F9D6;
    --button: #75BE75;
    --bg: #C2E5C2;
    --menu_space: #A6EFB3;
}
.unloaded{
    --bg:#000000;
}
/*
Everything Else
*/
p,li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: var(--text);
}
label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: var(--text);
}
h1,h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*color: #9E8FCF;*/
    color: var(--other-text);
    /*text-align: center;*/
}
button {
    font-size: 150%;
    height: 40px;
    margin: 4px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: var(--button);
    color: var(--button-text);
    border-style: hidden;
    bottom: 10px;
    height: fit-content;
}
button:hover {
    background-color: var(--hover);
}
body {
    background-color: var(--bg);
    margin: 3%;
}
footer {
    position: fixed;
    bottom: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: var(--other-text);
    text-align: center;
}
a {
    font-size: 150%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: var(--other-text);
}
a:hover {
    color: var(--hover);
}
input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*color: #6E9D71;*/
    background-color: var(--accent);
    color: var(--other-text)
}
.idk {
   background-color: var(--menu_space);
}
.main_input {
    border-style: double;
}
/*
Other buttons
*/
.main_button {
    font-size: 200%; 
}
.important_button {
    background-color: maroon;
    color:tomato;
}
.important_button:hover {
    background-color: crimson;
}