/*
Several tints of red :D
*/
p,label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: rgb(170, 105, 105);
}
h1,h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(177, 113, 147);
    /*text-align: center;*/
}
button {
    font-size: 200%;
    height: 40px;
    margin: 4px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(250, 154, 154);
    color: rgb(249, 214, 214);
    border-style: hidden;
    bottom: 10px;
}
button:hover {
    background-color:rgb(240,190,152);
}
body {
    background-color: rgb(249, 214, 214);
    margin: 3%;
}
footer {
    position: fixed;
    bottom: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(157, 110, 113);
    text-align: center;
}
a {
    font-size: 150%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(157, 110, 113);
}
a:hover {
    color: rgb(209, 154, 154);
}
input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*color: rgb(110,157,113);*/
    background-color: rgb(250, 154, 154);
}
.idk {
    background-color:rgb(240, 186, 196);
}
.main_input {
    border-style: double;
}
/*
Meant to be smaller than other buttons
*/
.util_button {
    font-size: 150%;
    height: fit-content;
}
.important_button {
    color: maroon;
    background-color:tomato;
}
.important_button:hover {
    background-color: crimson;
}